*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4747a1;
    --secondary-color:#f4f7fe;
}

body {
    background-color: var(--secondary-color);
}

.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

form {
    height: 480px;
    width: 480px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-color);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h1 {
    font-size: 32px;
    font-weight: bolder;
    line-height: 42px;
    text-align: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    /* font-weight: bold; */
}

input {
    display: block;
    height: 50px;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.07); */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    /* font-weight: 500; */
}

::placeholder {
    color: var(--primary-color);
}

button {
    margin-top: 50px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}