<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
</head>

<body>
    <form method="post" action="/login">
        {% csrf_token %}
        <h1>Techsture Technologies</h1>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username" required>

        <label for="password">Password</label>
        <input type="password" placeholder="Password" value="" name="password" id="password" required>

        <button>Log In</button>
        <br>
        <div class="form-link">
            <span class="text-center">Don't have an account? <a href="/register" class="link signup-link">Create Account</a></span>
        </div>

    </form>
</body>

</html>